body {
  background-color: #123456;
}
.App {
  height: 80%;
  margin: 30px auto;
  width: 80%;
}

.recipe-list {
  background-color: #ACB4DE;
  border: 2px ridge white;
  padding: 20px;
  margin: 10px 0;
}

.recipe-name {
  background-color: #123456;
  border-radius: 10px;
  margin: 5px 0;
  padding: 10px;
}

.recipe-name p {
  color: white;
}

.ingredient-container {
  background-color: #123456;
  border-radius: 10px;
  color: white;
  margin-top: 5px;
  padding: 20px;
}

.ingredient-title {
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
}

hr {
  margin: 30px;
  width: 90%;
}

.ingredient-list {
  border: 2px solid white;
  border-radius: 10px;
  margin: 10px 0;
}

.ingredient-list li {
  border-bottom: 1px solid white;
  padding: 10px;
}

.ingredient-list li:last-child {
  border: 0;
}

.recipe-link:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

