.App {
  height: 80%;
  margin: 30px auto;
  width: 80%;
}

.recipe-list {
  border: 2px solid black;
  padding: 20px;
}

.recipe-name {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.ingredient-container {
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 5px;
  padding: 10px;
}

.ingredient-title {
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
}

hr {
  margin: 30px;
  width: 90%;
}

.ingredient-list {
  border: 2px solid black;
  border-radius: 10px;
}

.ingredient-list li {
  border-bottom: 1px solid black;
  padding: 10px;
}

.ingredient-list li:last-child {
  border: 0;
}

.recipe-link:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

